<div class="card" id="search-card">
    <div class="card-body">
        <form (ngSubmit)="search()" [formGroup]="searchForm">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <div class="form-check mb-2">
                        <input
                                class="form-check-input"
                                formControlName="searchType"
                                id="people"
                                id="people"
                                type="radio"
                                value="people"
                        />
                        <label class="form-check-label" for="people">People</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-check mb-2">
                        <input
                                class="form-check-input"
                                formControlName="searchType"
                                id="planets"
                                id="planets"
                                type="radio"
                                value="planets"
                        />
                        <label class="form-check-label" for="planets">Planets</label>
                    </div>
                </div>

                <div class="col-auto">
                    <label class="sr-only" for="query">Query</label>
                    <input
                            class="form-control mb-2"
                            formControlName="query"
                            id="query"
                            id="query"
                            type="search"
                    />
                </div>

                <div class="col-auto">
                    <button class="btn btn-primary mb-2" id="search" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
